*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: georgia,'times new roman',times,serif;
}

@mixin flex-center{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@mixin button{
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color:white;
    background: #567b95;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    border: none;
    cursor:pointer;
}

$text-grey: #666;
$main-content-margin: auto 22%;

nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184,184,184);
    padding: 6px;
    display:flex;
    align-items: center;
    justify-content: center;
    // position:relative;
    .flex{
        display:flex;
        align-items: center;
        gap: 50px;
        i{
            cursor:pointer;
        }
    }
    .icon-wrapper{
        position:absolute;
        left: 20px;
        
    }
    .button-container{
        position:absolute;
        right: 30px;
        gap: 30px;
        button{
            @include button();
        }
    }
    img{
        width: 250px;
    }
}

article{
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    margin-top: 8%;
    div{
        grid-column: 2/3;
        #cover{
            @include flex-center;
            h1{
                font-size: 5vh;
                font-weight: 500;
                font-style: italic;
                margin: 10px auto 20px;
            }
            figure{
                @include flex-center;
                width: 70vw;
                font-size: 15px;
                text-align: left;
                img{
                    width: 70vw;
                }
                figcaption{
                    margin: 10px auto;
                    padding-right: 100px;
                    color: rgb(71, 71, 71);
                    span{
                        color: $text-grey;
                        font-size: 12px;
                    }
                }
            }
        }
        #author{
            margin:20px 22%;
            padding-top: 15px;
            position:relative;
            h3{
                font-family: nyt-franklin, helvetica, arial, sans-serif;
                margin-bottom: 15px;
            }
            ul{
                position:absolute;
                bottom: 0;
                right: 5px;
                li{
                    list-style: none;
                    cursor: pointer;
                }
            }
        }
        .main-content{
            margin: $main-content-margin;
            font-size: 20px;
            p{
                margin: 30px auto;
            }
        }
        #inflation-theory{
            width: 80vw;
            font-size: 13px;
            margin: 7% auto;
            header{
                margin: 10px auto;
                h1, p{
                    margin: 20px auto;
                    font-family: nyt-franklin, helvetica, arial, sans-serif;
                }
                p{
                    margin-bottom: 3%;
                }
            }
            ul{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5px;
                li{
                    border: 2px solid white;
                    @include flex-center();
                    justify-content: center;
                    width: 24%;
                    img{
                        width: 80%;
                        margin-bottom: 2px;
                    }
                    p{
                        color: rgb(49, 49, 49);
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Sans', Arial, sans-serif;
                        width: 80%;
                        span{
                            font-weight: 600;
                            font-family: nyt-franklin, helvetica, arial, sans-serif;
                        }
                    }
                }
            }
            .margin-fix{
                margin-top: 20px;
            }
        }
        #iframe{
            grid-column: 2/3;
            margin: $main-content-margin;
            @include flex-center();
            iframe{
                width : 100%;
                height: 300px;
            }
            figcaption{
                width: 100%;
                color:rgb(71, 71, 71);
                margin-top: 10px;
            }
            
        }
        #article-footer{
            margin:20px 22%;
            position:relative;
            h3{
                font-family: nyt-franklin, helvetica, arial, sans-serif;
                margin-bottom: 15px;
                font-size: 13px;
                font-weight: 500;
            }
            button{
                @include button();
                padding: 2px;
                border-radius: 4px;
                letter-spacing: 2px;
            }
            ul{
                position:absolute;
                bottom: 0;
                right: 5px;
                li{
                    list-style: none;
                    cursor: pointer;
                }
            }
        }
    }
} 

footer{
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
    width: 84%;
    margin: 4% auto 2%;
    display:grid;
    grid-template-columns: 5fr 2fr;
    padding: 10px;
    img{
        width: 180px;
        margin-bottom: 15px;
    }
    .list-container{
        grid-column: 1/2;
        display:flex;
        flex-wrap:wrap;
        gap: 8%;
        // justify-content:space-evenly;
        margin-top: 10px;
        h1{
            font-family: nyt-franklin, helvetica, arial, sans-serif;
            font-size: 16px;
        }
        li{
            font-family: nyt-franklin, helvetica, arial, sans-serif;
            list-style: none;
            cursor: pointer;
            font-size: 15px;
            margin: 10px auto;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    aside{
        border-left: 1px solid black;
        grid-column: 2/3;
        h1{
            font-size: 15px;
            font-family: nyt-franklin, helvetica, arial, sans-serif;
        }
        a{
            display: block;
            color:black;
            font-weight: 600;
            margin: 8px auto;
        }
        div:nth-child(odd){
            border-bottom: 1px solid black;

            ul{
                margin-top: 10px;
            }
        }
        div{
            margin-left: 5px;
            ul{
                li{
                    font-family: nyt-franklin, helvetica, arial, sans-serif;
                    list-style: none;
                    margin: 10px auto;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    nav{
        .icon-wrapper{
            gap: 35px;
        }
        button:nth-child(odd){
            display:none;
        }
    }
    article{
        .main-content{
            margin: auto 5px;
        }
    }
}

@media screen and (max-width: 450px) {
    nav{
        .flex{
            i:nth-child(even){
                display:none;
            }
        }
        .button-container{
            display:none;
        }
    }
}